/* ============= */
/* = Site Wide = */
/* ============= */


html, body{
  font-family: "Helvetica neue", "Helvetica", "Verdana", sans-serif;
  font-size: 17px;
}

a, a:hover, a:active, a:visited{
  text-decoration: none;
/*  color: #55CCDD;*/
  color: #55BCCD;
}

.clearfix{
  clear:both;
}

hr{
  border: none;
  border-top: thick solid #EEEEEE;
}
/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/

ul.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

ul.posts li {
  line-height: 1.75em;
}

ul.posts span {
  color: #aaa;
  font-size: 80%;
}

.tagline{
  font-size: 0.5em;
  margin: 0;
  padding: 0;
  color: #AAAAAA;
  font-weight: 200;
}
#header_wrapper{
  padding-top: 2em;
  position: relative;
  min-width: 770px;
}
#header_wrapper h1{
  font-size: 3em;
  line-height: 0.6em; /*Reduce height between header and tagline*/
}
#header_wrapper h1 small{
  font-size: 20px;
}
#header_wrapper h1 a{
  color: #333333;
}
.site_nav{
  width: 15em;
  text-align: right;
  font-size: 1em;
  line-height: 1em;
  padding: 0;
  position: absolute;
  top: 2.4em;
  right: 0;  
}
.site_nav a {
  font-weight: 200;
  color: #aaa;
  text-decoration: none;
  margin-left: 0.7em;
  font-size: 1em;
  line-height: 1em;
}

article header h1{
  font-size: 1.6em;
}
article div.articleBody p{
  line-height: 1.5em;
  margin: 1em 0;
}

p.meta{
  font-size: 0.8em;
}

#share_bar{
  padding: 1em 0;
  margin: 1em 0 2em;  
}

#share_text{
  font-size: 0.8em;
}

#share_bar div{
  float: left;
}

footer{
  border-top: thick solid #EEEEEE;
  padding-top: 1em;
  padding-bottom: 3em;
}

footer a i{
  font-size: 1.3em;
}