---
layout: default
title: Simple ideas to increase productivity, health and happiness
tagline: Supporting tagline
---

{% include JB/setup %}


{% for post in site.posts limit:5 %}


  <article id="post" itemscope itemtype="http://schema.org/Article">

    {% if post.description %}
      <meta name="description" content="{{ post.description }}" itemprop="description" />
    {% endif %}


    <header>
      <h1><a href="{{ post.url }}" itemprop="headline">{{ post.title }}</a></h1>
    </header>

    <p class="meta muted">
    
      <span itemprop="author" itemscope itemtype="http://schema.org/Person">
        <span itemprop="name">Written by {{ site.author.name }}, </span>
      </span>
    
      <time datetime="{{ post.date | date_to_xmlschema }}" pubdate="pubdate" itemprop="datePublished">
        {{ post.date | date_to_long_string }}
      </time>
    
      {% if post.location %}
      - 
        <span itemprop="contentLocation">
          {{ post.location }}
        </span>
      {% endif %}
    </p>

    <div itemprop="articleBody" class="articleBody">
      {% if post.id == site.posts.first.id %}
        {{ post.content }}
      {% else %}
        {{ post.description | markdownify  }}
      {% endif %}
    </div>

  </article>

{% endfor %}