<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title>{{ page.title }}</title>
      
  <meta name="author" content="{{ site.author.name }}" />
  
  {% if page.description %}
    <meta name="description" content="{{ page.description }}" />
  {% endif %}
    
  <!-- Facebook Open Graph Tags -->
  <meta property="og:site_name" content="Thinker's Playground">  
  <meta name="fb:admins" content="100001253850660">
  <!-- <meta name="fb:app_id" content="351931328240337"> -->
  <meta name="og:type" content="Article">
  
  {% if page.image_url %}
    <meta property="og:image" content="http://{{site.production_url}}{{ page.image_url }}">
  {% else %}
    <meta property="og:image" content="http://{{site.production_url}}{{ ASSET_PATH }}/img/paperplane.png">
  {% endif %}
  

  <meta property="og:url" content="http://{{site.production_url}}{{ page.url }}">
  <meta property="og:description" content="{{ page.description }}">
  <meta property="og:title" content="{{ page.title }}">	
  <meta name="title" content="{{ page.title }}">
  
  <!-- Twitter Cards Meta Tags -->
  <meta name="twitter:creator" value="@{{ site.author.twitter }}">
  <meta name="twitter:site" value="@{{ site.twitter }}">
  <meta name="twitter:url" value="http://{{site.production_url}}{{ page.url }}">
  <meta name="twitter:title" value="{{ page.title }}">
  <meta name="twitter:description" value="{{ page.description }}"> 
  <meta name="twitter:card" value="summary">  
  {% if page.image_url %}
    <meta name="twitter:image" value="http://{{site.production_url}}{{ page.image_url }}">
  {% endif %}
 				
  <link rel="apple-touch-icon" href="http://{{site.production_url}}{{ ASSET_PATH }}/img/paperplane.png">

  <link rel="shortcut icon" href="http://{{site.production_url}}/favicon.ico?v=1368927360" type="image/x-icon" />
  
  <link rel="canonical" href="http://{{site.production_url}}{{ page.url }}">
  
  <link href="http://feeds.feedburner.com/{{ site.author.feedburner }}" rel="alternate" title="your title" type="application/atom+xml" />
  
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="{{ ASSET_PATH }}/css/bootstrap.2.2.2.min.css" type="text/css" media="all" />
   
  <!-- Font-Awesome -->
  <link rel="stylesheet" href="{{ ASSET_PATH }}/css/font-awesome.min.css" type="text/css" media="all" />

  <!-- Homepage CSS -->
  <link rel="stylesheet" href="{{ ASSET_PATH }}/css/screen.css" type="text/css" media="all" />
   
  <!-- HTML5 Shiv -->
  <!--[if lt IE 9]><script src="dist/html5shiv.js"></script><![endif]-->
</head>
<body>

  <div class="container">
  
    <div class="row">
    
      <div class="span8 offset2">
        
        <div id="header_wrapper">
          <header>
            <h1>
              <a href="{{ HOME_PATH }}">{{ site.title }}</a>
              <small class='muted tagline'>
                {{ site.tagline }}
              </small>
            </h1>
          </header>
          
          <nav class='site_nav'>
            <ul class="inline">
              <li>
                <a class="extra" href="{{ BASE_PATH }}{{ site.JB.about_path }}">
                  About
                </a> 
              </li>
                  
              <li>
                <a class="extra" href="{{ BASE_PATH }}{{ site.JB.categories_path }}">
                  Categories
                </a>
              </li>
            
              <li>
                <a class="extra" href="{{ BASE_PATH }}{{ site.JB.archive_path }}">
                  Archive
                </a>
              </li>
            </ul>
          </nav>
          
        </div>   
                   
        {{ content }}
        
        <footer class="footer">
          
          <div class="row">
            <div class="span2 offset3">
              <a href="http://twitter.com/{{ site.author.twitter }}/">
                <i class="icon-twitter"></i>
              </a>              
              <a href="http://facebook.com/{{ site.author.facebook }}/">
                <i class="icon-facebook"></i>
              </a>                    
              <a href="http://plus.google.com/{{ site.author.google_plus}}/">
                <i class="icon-google-plus"></i>
              </a>              
              <a href="http://feeds.feedburner.com/{{ site.author.feedburner }}" id='rss_link'>
                <i class="icon-rss"></i>
              </a>
            </div>
          </div>
        </footer>
        
      </div>
    </div>
  </div>

  {% include JB/analytics %}
</body>
</html>