/*
Errno::ENOENT: No such file or directory - assets/css/tp.scss

Backtrace:
/Users/Gavin/.rvm/gems/ruby-2.0.0-p0@ThinkersPlayground/gems/sass-3.2.5/lib/sass/plugin/compiler.rb:339:in `read'
/Users/Gavin/.rvm/gems/ruby-2.0.0-p0@ThinkersPlayground/gems/sass-3.2.5/lib/sass/plugin/compiler.rb:339:in `update_stylesheet'
/Users/Gavin/.rvm/gems/ruby-2.0.0-p0@ThinkersPlayground/gems/sass-3.2.5/lib/sass/plugin/compiler.rb:203:in `block in update_stylesheets'
/Users/Gavin/.rvm/gems/ruby-2.0.0-p0@ThinkersPlayground/gems/sass-3.2.5/lib/sass/plugin/compiler.rb:201:in `each'
/Users/Gavin/.rvm/gems/ruby-2.0.0-p0@ThinkersPlayground/gems/sass-3.2.5/lib/sass/plugin/compiler.rb:201:in `update_stylesheets'
/Users/Gavin/.rvm/gems/ruby-2.0.0-p0@ThinkersPlayground/gems/sass-3.2.5/lib/sass/plugin/compiler.rb:299:in `block in watch'
/Users/Gavin/.rvm/gems/ruby-2.0.0-p0@ThinkersPlayground/gems/sass-3.2.5/vendor/listen/lib/listen/multi_listener.rb:86:in `call'
/Users/Gavin/.rvm/gems/ruby-2.0.0-p0@ThinkersPlayground/gems/sass-3.2.5/vendor/listen/lib/listen/multi_listener.rb:86:in `on_change'
/Users/Gavin/.rvm/gems/ruby-2.0.0-p0@ThinkersPlayground/gems/sass-3.2.5/vendor/listen/lib/listen/multi_listener.rb:95:in `block in initialize_adapter'
/Users/Gavin/.rvm/gems/ruby-2.0.0-p0@ThinkersPlayground/gems/sass-3.2.5/vendor/listen/lib/listen/adapters/polling.rb:55:in `call'
/Users/Gavin/.rvm/gems/ruby-2.0.0-p0@ThinkersPlayground/gems/sass-3.2.5/vendor/listen/lib/listen/adapters/polling.rb:55:in `poll'
/Users/Gavin/.rvm/gems/ruby-2.0.0-p0@ThinkersPlayground/gems/sass-3.2.5/vendor/listen/lib/listen/adapters/polling.rb:31:in `block in start'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Errno::ENOENT: No such file or directory - assets/css/tp.scss"; }
